<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
<!--  Appenders are where the log output CAN go -->
    <!-- Write Log to File Appender -->
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <!-- Change the value to the name of the location of the output log -->
        <param name="file" value="log/DataRecorder.log" />
        <param name="threshold" value="debug" /> <!-- Max debug level -->
        <param name="immediateFlush" value="true" /> <!-- Write immediately -->
        <param name="append" value="false" /> <!-- Should always be false - prevents multiple entries -->
        
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{MM-dd-yyyy (HH:mm:ss.SSS)} %p [%C]  %m%n"/>
        </layout>
    </appender>
    
    <!-- Output logging to screen appender -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!-- How it shows up on screen -->
        <!--
             12-06-2015 (19:47:30.953) DEBUG [com.boeing.datarecorder.ChannelPublisher]  Producer on [test.topic] is a queue: false
          -->
        <!--
            c - logger
            C - fully qualified name of logger
            d - date
            F - name of file logged from
            l - location information !! SLOW !!
            L - line number in file
            m - logging message
            M - method logged from
            n - line separator
            p - logging level
            r - relative date from when app started
            t - invoking thread
            x - NDC info
            X - MDC info
         -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{MM-dd-yyyy (HH:mm:ss.SSS)} %p [%C]  %m%n"/>
        </layout>
	</appender>
	
        <!-- Loggers (Made one for each major package to ease debug - If you
          want everything, just turn on the root or make one that is up a 
          package level e.g. the adapter(s) ) -->
        <!-- Add appenders from above for where you want logging to go --> 
        <logger name="com.boeing.datarecorder" additivity="false">
            <level value="debug"/>
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="fileAppender"/>
        </logger>
        <logger name="com.boeing.datarecorder.plugins" additivity="false">
            <level value="warn"/>
            <appender-ref ref="consoleAppender"/>
        </logger> 
        <logger name="com.boeing.datarecorder.plugins.injector" additivity="false">
            <level value="warn"/>
            <appender-ref ref="consoleAppender"/>
        </logger>
        <logger name="com.boeing.datarecorder.plugins.viewer" additivity="false">
            <level value="warn"/>
            <appender-ref ref="consoleAppender"/>
        </logger>
        <logger name="com.boeing.datarecorder.util" additivity="false">
            <level value="debug"/>
            <appender-ref ref="consoleAppender"/>
        </logger> 
        <logger name="com.boeing.datarecorder.util.ui" additivity="false">
            <level value="warn"/>
            <appender-ref ref="consoleAppender"/>
        </logger>
        
        <!--  ROOT LOGGER -->
        <root>
            <level value="warn"/>
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="fileAppender"/>
        </root>          
    
</log4j:configuration>